{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}

{% load my_tags %}
    <div class="container mt-5">

        <div class="row">
            <div class="col">
                {% if locations %}
                    <div class="row">
                        {% for location in locations %}
                        <div class="col-4 mb-3">
                            <div class="card">
                                <div class="img-container" style="height: 200px !important;">
                                    <img class="card-img-top"  style="width: 100%; height: 100%; object-fit: cover;" src="{{location.image_url}}" alt="{{location.name}}">
                                </div>
                                <div class="card-body">
                                    <b><p class="card-title text-center text-truncate">{{location.name}}</p></b>
                                    <p class="text-secondary">{{location|get_parent_province}} аймаг, {{ location|get_parent_soum }} сум</p>
                                    <div class="text-truncate-container" style="height: 120px !important;">
                                        <p class="card-text">{{location.description}}</p>
                                    </div>
                                    <button class="btn btn-outline-success mt-3" style="width: 100%;">Дэлгэрэнгүй</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <h1>No location available</h1>
                {% endif %}
            </div>

        </div>

    </div>

    <style>
        .text-truncate-container p {
            -webkit-line-clamp: 5;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    </style>

{% endblock %}