{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}

{% load my_tags %}
    <div class="container mt-5">

        {% if locations %}
            <div class="row">
                {% for location in locations %}
                    <div class="col-4 mb-3">
                        <div class="card">
                            <div class="img-container" style="height: 200px !important;">
                                <img class="card-img-top"  style="width: 100%; height: 100%; object-fit: cover;" src="{{location.image_url}}" alt="{{location.name}}">
                            </div>
                            <div class="card-body">
                                <b><p class="card-title text-center text-truncate">{{location.name}}</p></b>
                                <p class="text-secondary">{{location|get_parent_province}} аймаг, {{ location|get_parent_soum }} сум</p>
                                <div class="text-truncate-container" style="height: 120px !important;">
                                    <p class="card-text">{{location.description}}</p>
                                </div>
                                <a href="{{location.custom_id}}/" class="btn btn-outline-success mt-3" style="width: 100%;">Дэлгэрэнгүй</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
                            
            <div class="d-flex align-content-center justify-content-center">
                <span class="current">
                    Page {{ locations.number }} of {{ locations.paginator.num_pages }}.
                </span>
            </div>
            <div class="d-flex align-content-center justify-content-center">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; Эхнийх</a></li>
                    {% if locations.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ locations.previous_page_number }}">Өмнөх</a></li>
                    {% endif %}
                    {% if locations.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ locations.next_page_number }}">Дараагийнх</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ locations.paginator.num_pages }}">Сүүлийнх &raquo;</a></li>
                    {% endif %}
                </ul>
            </div>

        {% else %}
            <h1>No location available</h1>
        {% endif %}


    </div>

    <style>
        .text-truncate-container p {
            -webkit-line-clamp: 5;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    </style>

{% endblock %}