{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}

   <div class="container mt-5">
        <div class="row">
            <div class="col-3 p-4" style="border: 1px solid gainsboro; border-radius: 5px;">
                <h3 class="text-center">Таны шалгуур</h3>
                <form hx-post="{% url 'core:new_trip' %}" hx-trigger="submit" hx-target="#results" hx-indicator="#loading-icon, #guide" class="mt-3">
                {% csrf_token %}
                    <label for="type">Аяллын төрөл</label>
                    <select name="type" id="type" class="form-select mb-2">
                        <option value="Энгийн">Энгийн</option>
                        <option value="Явган">Явган</option>
                        <option value="Экстрем">Экстрем</option>
                    </select>
                    <label for="category_section">Аяллын сэдэв</label>
                    <ul name="category_section"class="list-unstyled">        
                        <li>
                            <input type="checkbox" name="category_checkbox" value="Түүхэн дурсгалт">
                            <label for="category_checkbox">Түүхэн дурсгалт</label>
                        </li>
                        <li>
                            <input type="checkbox" name="category_checkbox" value="Уул хад">
                            <label for="category_checkbox">Уул хад</label>
                        </li>
                        <li>
                            <input type="checkbox" name="category_checkbox" value="Ой мод">
                            <label for="category_checkbox">Ой мод</label>
                        </li>
                        <li>
                            <input type="checkbox" name="category_checkbox" value="Ус нуур, гол мөрөн">
                            <label for="category_checkbox">Ус нуур, гол мөрөн</label>
                        </li>
                        <li>
                            <input type="checkbox" name="category_checkbox" value="Хээр тал">
                            <label for="category_checkbox">Хээр тал</label>
                        </li>
                        <li>
                            <input type="checkbox" name="category_checkbox" value="Говь цөл">
                            <label for="category_checkbox">Говь цөл</label>
                        </li>
                        <li>
                            <input type="checkbox" name="category_checkbox" value="Хөшөө дурсгал">
                            <label for="category_checkbox">Хөшөө дурсгал</label>
                        </li>
                        <li>
                            <input type="checkbox" name="category_checkbox" value="Бусад">
                            <label for="category_checkbox">Бусад</label>
                        </li>
                    </ul>
                    <label for="duration">Аяллын хугацаа</label>
                    <select name="duration" id="duration" class="form-select mb-2">
                        <option value="1">1 өдрийн дотор</option>
                        <option value="1-2">1-2 өдөр</option>
                        <option value="2-3">2-3 өдөр</option>
                        <option value="3-5">3-5 өдөр</option>
                        <option value="5">5-с дээш өдөр</option>
                    </select>
                    <label for="budget">Аяллын төсөв</label>
                    <select name="budget" id="budget" class="form-select mb-2">
                        <option value="100000">100000₮ дотор</option>
                        <option value="200000">200000₮ дотор</option>
                        <option value="300000">300000₮ дотор</option>
                        <option value="500000">500000₮ дотор</option>
                        <option value="1000000">1000000₮ дотор</option>
                        <option value="2000000">2000000₮ дотор</option>
                        <option value="1000000000">2000000₮-өөс дээш</option>
                    </select>
                    <label for="car">Автомашин</label>
                    <select name="vehicle" id="vehicle" class="form-select mb-2">
                        <option value="prius">Prius 10</option>
                        <option value="prius">Prius 20</option>
                        <option value="prius">Prius 30</option>
                        <option value="landcruiser">Land Cruiser 80</option>
                        <option value="landcruiser">Land Cruiser 90</option>
                        <option value="landcruiser">Land Cruiser 100/Lexus 470</option>
                        <option value="landcruiser">Land Cruiser 200/Lexus 570</option>
                        <option value="landcruiser">Land Cruiser 300/Lexus 670</option>
                        <option value="other">Бусад</option>
                    </select>
                    <br>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-block">Аялал үүсгэе</button>
                    </div>
                </form>
                {% if error_message %}
                    <p class="alert alert-warning">{{error_message}}</p>
                {% endif %}
            </div>
            <div class="col ms-4 p-4" style="border: 1px solid; border-color: gainsboro; border-radius: 5px;">
                <h3 class="text-center">Танд санал болгож буй аяллууд</h3>
                <div class="d-flex justify-content-center">
                    <div class="loading-icon" id="loading-icon">
                        <div class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>

                <div id="results">
                    {% include 'core/partials/recommendation_results.html' %}
                </div>
            </div>
        </div>
   </div>

<style>
.loading-icon {
    display: none;
}
.loading-icon.htmx-request {
    display: inline-block;
}
</style>

{% endblock %}